// Main Color
$primary-color: #e63946;
$secondary-color: #1D3557;

// Light - colors
$white: #f1faee;
$color-light: #a8dadc;
$color-light-dark:  #457B9D;

// Shadows
$shadow-light-dark-solid: 0 2px 0 rgba(0,0,0,.08);

$gray : #636363;
$gray-light : #b9b9b9;